.back {
  width: 100%;
  img {
    margin-top: 40px;
  }
  .bg-black {
    height: 40px;
    float: right;
    position: fixed;
    top: 0;
    width: 100%;
    & nav {
      .menu-button {
        display: block;
        margin: 0 0 0 auto;
        overflow: hidden;
        width: 50px;
        height: 40px;
        outline: none !important;
        background: unset;
        border: none;
        cursor: pointer;
        
        & > span {
          background: white;
          width: 30px;
          height: 3px;
          display: block;
          margin-bottom: 6px;
          transition: transform 0.4s;

          &:last-child {
            margin-bottom: 0;
          }
        }
      }
      & ul {
        display: none;
        font-size: 14px;
        flex-flow: column;
        margin-top: 0;
        padding: 0;
        & a {
          color: #fff;
          line-height: 50px;
          padding-right: 30px;
          font-weight: normal;
        }
      }
    }
  }
  & .menu-open {
    .menu-button {
      background: #353434;
    }
    & ul {
      @include animation(
          $name: sample01,
          $duration: 0s,
        );
        display: flex !important;
        background: #353434;
        vertical-align: top;
        & a {
          &:hover {
            background: #00a2ff;
            @include animation(
              $name: sample02,
              $duration: 0.3s,
            );
          }
        }
    }
  }
}



#concept {
  width: 95%;
  margin-left: auto;
  margin-right: auto;
  .concept-img {
    width: 100%;
  }
  .concept-message {
    h3 {
      font-size: 24px;
      span {
        font-size: 30px;
      }
    }
    width: 95%;
  }
}
#tounament {
  widtH: 80% !important;
  border-radius: 30px;
  margin-left: auto;
  margin-right: auto;
  padding: 30px;
  .tounament-sec {
    border-radius: 30px;
    .tounament-message {
      h3 {
        font-size: 30px;
      }
      p {
        margin: 20px;
      }
    }
    .tounament-img {
      padding: 30px auto;
      flex-flow: column;
      img {
        width: 80% !important;
        margin: 0px auto 50px !important;
      }
    }
  }
}
#experience {
  width: 85%;
  .experience-message {
    .flexbox {
      flex-flow: column;
      margin: 0 auto;
      p {
        width: 90%;
      }
      .experience-img {
        width: 90%;
        margin-top: 50px auto 10px;
        img {
          margin: 0 auto;
        }
      }
    }
  }
}
#new-infomation {
  .new-infos {
    flex-flow: column;
    .new-info {
      margin-bottom: 20px;
      width: 100%;
      dl {
        dt {
          font-size: 10px;
          margin-top: -20px;
        }
        dd {
          margin-left: 30px;
          font-size: 12px;
        }
      }
    }
  }
}
#rate-list {
  .rate-table {
    width: 100%;
    thead {
      font-size: 24px;
    }
    tbody {
      font-size: 20px;
      line-height: 35px;
      td {
        span {
          font-size: 14px;
        }
      }
    }
  }
  .rate-text {
    width: 90%;
  }
}
#tounament-rate {
  .one-people {
    font-size: 30px;
  }
  img {
    width: 100%;
  }
}
footer {
  nav {
    justify-content: space-between;
    ul {
      display: flex;
      li {
        width: 50%;
      }
    }
  }
}

@keyframes sample01 {
  0% {
    transform: translateX(-200px);
  }
  100% {
    transform: translateX(0px);
  }
}
@keyframes sample02 {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
